yolo_nas_l.pt
yolov8n.pt
/frames
/runs
/videos
30Sec.mp4
.DS_Store
dataProcessing/*.mp4
dataProcessing/*.mov
ES 20 Rosenborg- Aalesund.mov
step1.mp4
train.zip
TrackingData
annotations.mp4
mlfn_market1501.pt
/yolov8_training
